<?php

// -----
// Important: read the instructions in README.md or at:
// https://github.com/piwik/piwik/tree/master/misc/proxy-hide-piwik-url#piwik-proxy-hide-url
// -----

// Edit the line below, and replace http://your-piwik-domain.example.org/piwik/
// with your Piwik URL ending with a slash.
// This URL will never be revealed to visitors or search engines.
$PIWIK_URL = 'http://your-piwik-domain.example.org/piwik/';

// Edit the line below, and replace xyz by the token_auth for the user "UserTrackingAPI"
// which you created when you followed instructions above.
$TOKEN_AUTH = 'xyz';

// By default, only parameter that would work without token_auth at the real piwik are allowed.
// See Tracking API for more details:
// http://developer.piwik.org/api-reference/tracking-api
$allow_override_parameter = false;

// Maximum time, in seconds, to wait for the Piwik server to return the 1*1 GIF
$timeout = 5;
